:root{
  /*TODO: Mage a color palette*/
  --background: rgb(16,16,16);
  --color1: rgb(43, 13, 43);
  --button: rgb(83, 53, 83);
  --buttonhover: rgb(103,73,103);
  --text: white;
}
body{
  margin:0;
  background-color: var(--background);
  color: var(--text);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  min-height: calc(100vh - 45px);
  position: relative;
  padding-bottom: 45px;
}
nav{
  width:100%;
  height:min-content;
  background-color: var(--color1);
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap:1%;
  padding:1% 5%;
  box-sizing: border-box;
}
nav .nav-option {
  text-align: center;
  background-color: var(--button);
  padding:4%;
  border-radius: 1vmax;
  text-wrap: nowrap;
  overflow: hidden;
}
nav .nav-option:hover{
  background-color: var(--buttonhover);
}
nav a:link,nav a:visited{
  color:white;
  text-decoration: none;
}
#main{
  width: 90%;
  height:100%;
  margin:auto;
  background-color: var(--color1);
}
footer{
  background-color: var(--color1);
  width: 100%;
  padding:1% 5%;
  height:45px;
  position:absolute;
  bottom:0;
  box-sizing: border-box;
}
a:link,a:visited{
  color:lightgreen;
  text-decoration: none;
}
input,textarea,select{
  background-color: var(--button);
  border:1px solid var(--buttonhover);
  border-radius: 1vmax;
  margin: 5px;
  box-sizing: border-box;
  color:white;
}
input[type="text"],input[type="number"],input[type="file"],input[type="password"],textarea{
  border-radius: 0;
}
input[type="button"]:hover,input[type="submit"]:hover{
  background-color: var(--buttonhover);
}



#buildGallery{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:1ch;
  padding:1ch;
  width: 100%;
  -webkit-text-stroke: 1px rgba(0,0,0,.8);
  box-sizing: border-box;
}
.buildCard {
  border:2px solid gray;
  border-radius: 3ch;
  box-sizing: border-box;
  padding: 2ch;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 0;
  overflow: hidden;
  transition-duration: .5s;
  background-color: var(--color1);
}
.buildDisplay{
  box-sizing: border-box;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap:10px;
  padding:2%;
  aspect-ratio: 1/1;
  width: 100%;
  border:2px solid gray;
  border-radius: 3ch;
  background-color: var(--color1);
}
.buildDisplay img{
  width: 100%;
  height: 100%;
}
.buildInfo{
  font-size: 140%;
}
.buildInfo>h3{
  margin:0;
  font-size: 160%;
}


/*BuildWrapper*/
#BuildWrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 500px;
  min-width: 930px;
}

#BuildAttr {
  display: flex;
  flex-direction: column;
  margin:2%;
}

#BuildAttr>div{
  display: flex;
  flex-direction: row;
  flex:1;
  background-color: rgba(255, 255, 255, 0.2);
  margin:2px;
  margin-right: 0;
  margin-left: 0;
  overflow: auto;
}
#BuildAttr>div:last-child(){
  margin-bottom: 0;
}
#BuildAttr>div>img{
  align-self: center;
  max-width: 50px;
  max-height: 50px;
}





/*BuildBoxCss*/

.buildBox{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap:10px;
  padding:2%;
  aspect-ratio: 1/1;
  width: 100%;
  box-sizing: border-box;
  border: 2px solid gray;
  border-radius: 3ch;
}

.buildBox>*{
  aspect-ratio: 1/1;
  background-position: center;
  background-size: contain;
}
.buildBox select {
  background-color:var(--background);
  border:none;
  color:white;
  overflow-y: auto;
  border-radius: 5px;
  padding:5px;
}

#BuildOptions{
  padding:1%;
  padding-top: 0;
  display: flex;
}
#BuildOptions>div{
  box-sizing: border-box;
  padding: 2ch;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#BuildOptions textarea{
  resize: vertical;
}
#Glowna{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
#Glowna>*{
  padding: 2%;
}
#recentBuild{
  text-align: center;
  display: flex;
  flex-direction: row;
}
#recentBuild>*{
  margin:auto auto;
  max-width: 400px;
}


.search{
  text-align: center;
}

/* usefull */
/* .buildBox select option {
  opacity: .7;
}
.buildBox select option:checked{
  background: red;
} */



/* .buildBox>input::--webkit-outer-spin-button,
.buildBox>input::--webkit-outer-spin-button {
  appearance: none;
  margin:0;
}

.buildBox>input[type=number] {
  appearance: textfield;
} */

.grayscale{
  filter: grayscale(1);
}
.whiteshadow{
  filter: drop-shadow(0px 0px 10px white);
  animation-name:whiteshadow;
  animation-duration: .7s;
}
.center {
  text-align: center;
}
.font150{
  font-size: 150%;
}
.font200{
  font-size: 200%;
}

@keyframes whiteshadow {
  0%{
    filter: drop-shadow(0px 0px 0px white);
  }
  40%{
  filter: drop-shadow(0px 0px 12px white);
  }
  100% {
  filter: drop-shadow(0px 0px 10px white);
  }
}

.form{
  background-color: var(--color1);
  width:40%;
  height: 60%;
  margin:auto;
  border:2px solid black;
  border-radius: 3vmax;
  padding:2%;
  text-align: center;
}

#CommentsBox{
  width: 100%;
  display:flex;
  flex-direction: column;
}

#Description {
  max-height: 30ch;
  overflow:auto;
}
#Bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#CommentsForm > textarea {
  width:100%;
  resize: vertical;
  height: 9ch;
}
#CommentsForm{
  text-align: center;
}

#CommentsDisplay > p {
  padding:1ch;
  height: min-content;
  background-color: rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid rgba(0,0,0,.5);
}

.likes{
  width: 1.7ch;
  height: 1.7ch;
}

#likes {
  text-align: center;
  font-size: 3ch;
}

#likesText{
  display: inline-block;
  width: 4ch;
}



.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-content {
  display: none;
  position: absolute;
  top: 100%; /* Możesz dostosować pozycję tooltipa */
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  padding: 2px;
  border-radius: 20px;
  z-index: 1000;
  border: 1px solid rgb(103,73,103);
}
.tooltip-content > img {
  width:8ch;
  height: 8ch;
}
.tooltip-container > input {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  width: 8ch;
  height: 8ch;
  color: rgba(0,0,0,0);
}

.tooltip-container:hover .tooltip-content,
.tooltip-content:hover {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}